[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
calmap = "*"
pint = "*"
calmap-0-0-7 = {editable = true,git = "https://github.com/MarvinT/calmap.git"}
toml = "*"

[dev-packages]
pytest = "*"
mypy = "*"

[requires]
python_version = "3.7"
